html,
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

.header {
    background-color: #F4F6F7;
    min-height: 300px;
}

.header__menu {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item a {
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #13253A;
}

.menu__list-item a:hover {
    color: crimson;
}

.menu__list-item + .menu__list-item {
    padding-left: 50px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    align-items: center;
    padding-bottom: 179px;
}

.header__content-info {
    max-width: 470px;
}

.header__content-info__suptitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557AB;
    padding-bottom: 5px;
}

.header__content-info__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 63px;
    letter-spacing: -1px;
    color: #13253A;
    padding-bottom: 10px;
}

.header__content-info__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    opacity: 0.9;
    padding-bottom: 20px;
}

.header__content-button {
    background-color: #FF7F57;
    border-radius: 3px;
    font-weight: 600;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 18px 42px;
}